/* Reset */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* Generics */
body {
    font-family: "Open Sans", sans-serif;

    a {
        text-decoration: none;
    }

    ul {
        list-style-type: none;
        padding: 0;
    }
}

.main-container {
    max-width: 1200px;
    margin: 0 auto;
}





img {
    max-width: 100%;
    height: auto;
}